<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>saturday</title>
     <link rel="stylesheet" href="../static/style.css">
</head>

<h1 id="welcome">Welcome</h1>
<body class="main">
    <div class="form">
        Financial Aid(Student Loan Trust Fund)
<p>The Students Loan Trust Fund wa established in
 December 2005 under the trustee incorporation ACT 1962 
 and ACT 820</p
 <p>
The objectives of the Trust Fund are to provide 
financial resources for the sound management of the 
Trust for the benefit of students and to help promote
 and facilitate the national ideals enshrined in Article 
 28 and 38 of the 1992 Constitution.</p>

<p>Students who want to apply for financial aid should
 visit the following links to know more about the Trust 
 Fund and its application process</p>

 <p><ul>
<li><a href="#">Student Loan Trust Fund</a></li>
<li><a href="#">Financial Aid</a></li>
<li><a href="#">Financial Aid Application Requirements</a></li>
 </ul>
 </p>
    </div>
Click <a href="student info.html"> HERE </a> to input student info
</body>
</html>